.App {
  background-color: #1e272e;
  min-height: 100vh;
}

.container {
display: flex;
height: 100vh;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 100%;
}

.generator {
  background: #0a181f;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 0.3rem 1.3rem;
  /* margin-bottom: 8rem; */
}

.generator h2 {
  text-align: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.gen-header {
  text-align: center;
  color: #3867d6;
  margin-bottom: 20px;
}

.gen-pass {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  color: #fff;
  height: 40px;
  margin-bottom: 15px;
}

.gen-pass h3 {
  font-size: 16px;
  padding: 1rem 0;
  color: #27ae60;
}

.copy__btn {
  position: absolute;
  /* height: 40px; */
  color: #3867d6;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  top: 3px;
  right: 3px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #718093;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn {
  background: #3867d6;
  display: block;
  color: #f5f6fa;
  font-weight: 700;
  border-style: none;
  padding: 0.6rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight: 200;
  margin-top: 2.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.footer a {
color: #27ae60;
text-decoration: none;
background:linear-gradient(#405de6,#5851db,#833ab4,#c13584,#fd1d1d); 
color: #fff;
padding: 0.3rem;
border-radius: 4px;
text-transform: lowercase !important;
}

.footer a:hover {
 background: linear-gradient(#c13584,#833ab4) ;
}

/* @media(max-width: 560px) {
  .container {
    height: auto;
    margin: 0 auto;
    padding-top: 200px;
  }
} */